* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: serif;
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

body {
  background-color: #f5f4f0;
  margin: 80px auto;
  width: 1120px;
}

.p_title {
  color: #E1624F;
  margin-bottom: 8px;
  font-weight: bold;
  text-transform: uppercase;
}

.p_history_title {
  color: #E1624F;
  margin-bottom: 2px;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  margin-bottom: 40px;
  font-size: 36px;
  color: #1B1B1B;
}

.title_history {
  color: #1B1B1B;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 8px;
}


.busan {
  margin-bottom: 24px;
  border-radius: 28px;
}

.haedong {
  height: 350px;
  object-fit: cover;
}

figcaption {
  margin-bottom: 40px;
  text-align: center;
  font-style: italic;
}

main {
  border-top: 1px solid #D9D9D9;
  padding-top: 64px;
}

.p_history_descrip {
  color: #333333;
  margin-bottom: 64px;
}

h3 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 4px;
}

.p_bom-para {
  font-weight: bold;
}

.ul_history> li {
  color: #0C51A7;
  font-weight: bold;
  margin-bottom: 48px;
}

.p_haedong {
  margin-bottom: 24px;
}

.ul_yong {
  font-weight: bold;
}


.ul_yong > .color1 {
  color: #591B98;
}
.ul_yong > .color2{
  color: #E5245E;
}
.ul_yong > .color3 {
  color: #E95E10;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  margin: 40px 0;
}

.p_final {
  text-align: center;
}

footer {
  margin: 65px 0;
  text-align: center;
}

footer > img {
  vertical-align: middle;
}